<!DOCTYPE html>
<html>
  <head>
    <title>OscarAwardsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <ul>
      <li><%= link_to "See all categories" %></li>
      <li><%= link_to "See all actors" %></li>
    </ul>
  </header>
  <%= yield %>
  <footer>
    <ul>
      <li>About us</li>
      <li>Team</li>
      <li>Terms and conditions</li>
    </ul>
  </footer>
  </body>
</html>
